/* reset*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*reset*/

/*debug*/

footer>.contenitore {
    background-color: yellow;
    border: 1px dashed black;
}

.large {
    border: 1px dashed black;
    background-color: #f08080;
    height: 100%;
}

.small {
    border: 1px dashed white;
    background-color: #20b2aa;
    height: 100%;
}

.sezione-footer {
    background: #7fffd4;
    border: 1px dashed white;
}

.sezione-footer>.box {
    border: 1px dashed black;
    background-color: #ffb6c1;
}

/*debug*/
/*common*/

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    padding-bottom: 30px;
    font-size: 38px;
}

h2 {
    color: black;
    font-size: 34px;
    padding-bottom: 30px
}
h3{
    padding-bottom: 20px;
}
p {
    line-height: 25px;
}

.font-link {
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
}

.flex {
    display: flex;
}

.box-bianco {
    background-color: white;
    border-radius: 40px;

}

.box-nero {
    background-color: black;
    border-radius: 40px;
}

.box-azzurro {
    background-color: #7289da;
    border-radius: 40px;
    margin: 0 auto;
    justify-content: center;
    width: 150px;
    padding: 10px 0;
}
.box-azzurro > a{
    color: white;
}

.box-bianco>a {
    color: black;

}

.background {
    background-color: #f6f6f6;
}

.contenitore {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0px;
}

/*common*/
/*header*/
.navbox {
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;
}

.login-box {
    margin: 10px 0 10px 0;
    width: 250px;
    padding: 10px 5px 5px 5px;
}

#linkbox {
    justify-content: center;
    flex-grow: 1;
    font-size: 14px;
}

#login-button {
    justify-content: flex-end;
    font-size: 14px;
    width: 90px;
}

.intestazione {
    width: 620px;
    text-align: center;
    margin: 100px auto 40px auto;
    padding: 0 5px;
    color: white;
}

.intestazione>.box {
    justify-content: center;
    padding: 10px 0;
}

.intestazione .box-bianco,
.box-nero {
    margin: 8px 5px;
    padding: 4px 0;
}

header {
    padding-bottom: 20px;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}

/*header*/

/*main*/


.box1 {
    width: 60%;
    height: 100%;

}

img {
    width: 100%;
}

.box2 {
    width: 40%;
    padding: 20px 5px
}

main :nth-child(2)>.contenitore>.box2 {
    order: -1;
}

.contenitore-big {
    padding: 50px 0 0 0;
    text-align: center;
}

/*main*/

/*footer*/

.footer {
    background-color: #23272a;
    padding: 5px 0 0 0;
}

.info {

    padding: 0;
}

.large {
    width: 60%;
}

.small {
    width: 40%;
}

footer>.contenitore {
    padding: 0px;
}

.sezione-footer {
    justify-content: space-between;
    max-width: 800px;
    margin: 10px auto 0;
    padding: 15px 0 15px 0;
}